In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import LinearSVC
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier

/home/mvp18/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
dataset = pd.read_csv('xAPI-Edu-Data.csv')

In [3]:
dataset.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [4]:
dataset.describe(include='all')

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
count,480,480,480,480,480,480,480,480,480,480.000000,480.000000,480.000000,480.000000,480,480,480,480
unique,2,14,14,3,10,3,12,2,2,NaN,NaN,NaN,NaN,2,2,2,3
top,M,KW,KuwaIT,MiddleSchool,G-02,A,IT,F,Father,NaN,NaN,NaN,NaN,Yes,Good,Under-7,M
freq,305,179,180,248,147,283,95,245,283,NaN,NaN,NaN,NaN,270,292,289,211
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.775000,54.797917,37.918750,43.283333,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.779223,33.080007,26.611244,27.637735,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.750000,20.000000,14.000000,20.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000,65.000000,33.000000,39.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.000000,84.000000,58.000000,70.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,99.000000,98.000000,99.000000,NaN,NaN,NaN,NaN

In [5]:
imp_features = dataset.drop(['gender', 'NationalITy', 'Semester', 'PlaceofBirth', 'GradeID', 'Topic', 'SectionID', 'Relation'], axis=1)

In [6]:
stage_mapping = {"lowerlevel":0, "MiddleSchool":1, "HighSchool":2}
survey_mapping = {"No":0, "Yes":1}
satisfaction_mapping = {"Bad":0, "Good":1}
absence_mapping = {"Under-7":0, "Above-7":1}
class_mapping = {"L":0, "M":1, "H":2}

In [7]:
numeric_features = imp_features
numeric_features['StageID'] = imp_features['StageID'].map(stage_mapping)
numeric_features['ParentAnsweringSurvey'] = imp_features['ParentAnsweringSurvey'].map(survey_mapping)
numeric_features['ParentschoolSatisfaction'] = imp_features['ParentschoolSatisfaction'].map(satisfaction_mapping)
numeric_features['StudentAbsenceDays'] = imp_features['StudentAbsenceDays'].map(absence_mapping)
numeric_features['Class'] = imp_features['Class'].map(class_mapping)

In [8]:
numeric_features.describe(include='all')

,StageID,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
count,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000
mean,0.654167,46.775000,54.797917,37.918750,43.283333,0.562500,0.608333,0.397917,1.031250
std,0.603732,30.779223,33.080007,26.611244,27.637735,0.496596,0.488632,0.489979,0.748738
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,15.750000,20.000000,14.000000,20.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,50.000000,65.000000,33.000000,39.000000,1.000000,1.000000,0.000000,1.000000
75%,1.000000,75.000000,84.000000,58.000000,70.000000,1.000000,1.000000,1.000000,2.000000
max,2.000000,100.000000,99.000000,98.000000,99.000000,1.000000,1.000000,1.000000,2.000000

In [9]:
data_np_array = numeric_features.values

In [10]:
X = data_np_array[:,:-1]
Y = data_np_array[:,-1]

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [12]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
acc_log = logreg.score(X_test, Y_test)*100
acc_log

79.16666666666666

In [13]:
svc = SVC()
svc.fit(X_train, Y_train)
acc_svc = svc.score(X_test, Y_test)*100
acc_svc

55.208333333333336

In [14]:
knn = KNeighborsClassifier(n_neighbors = 3) # Here 3 neighbours provides the highest accuracy
knn.fit(X_train, Y_train)
acc_knn = knn.score(X_test, Y_test)*100
acc_knn

59.375

In [15]:
gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
acc_gaussian = gaussian.score(X_test, Y_test)*100
acc_gaussian

78.125

In [16]:
linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
acc_linear_svc = linear_svc.score(X_test, Y_test)*100
acc_linear_svc

51.041666666666664

In [17]:
sgd = SGDClassifier(max_iter=1000, tol=1e-3)
sgd.fit(X_train, Y_train)
acc_sgd = sgd.score(X_test, Y_test)*100
acc_sgd

51.041666666666664

In [18]:
perceptron = Perceptron(max_iter=1000, tol=1e-3)
perceptron.fit(X_train, Y_train)
acc_perceptron = perceptron.score(X_test, Y_test)*100
acc_perceptron

58.333333333333336

In [19]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
acc_decision_tree = decision_tree.score(X_test, Y_test)*100
acc_decision_tree

65.625

In [20]:
random_forest = RandomForestClassifier(n_estimators=300)
random_forest.fit(X_train, Y_train)
acc_random_forest = random_forest.score(X_test, Y_test)*100
acc_random_forest

83.33333333333334